.Menuconsomable{
    width: 95%;
    height: 85%;
    
}

.Menuconsomable td{
    border: 1px white solid;
    color: white;
    width: calc(100% / 4);
    height: calc(100% / 2);
}

#user{
    display: block;
    width: fit-content;
    position: absolute;
    right: 10px;
}

#user div{
    text-align: center;
    margin-top: 5px;
}